/* Write your code here. */
.emoji-card-container {
  list-style-type: none;
  background-color: #9796f0;
  border: 1px solid #ffffff30;
  border-radius: 7px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.emoji {
  width: 60px;
}
@media screen and (min-width: 768px) {
  .emoji-card-container {
    width: 180px;
    height: 180px;
  }
  .emoji {
    width: 90px;
  }
}
.emoji-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
